---
import Navigation from "./Navigation.astro"; 
import Hamburger from './Hamburger.astro';
---

<header>
    <nav>
        <Hamburger />
        <Navigation />
    </nav>
    <h2 class="marca">Cafe del Arte</h2>
</header>

